.Background{
    background: linear-gradient(178deg, #20172C 0%, #131735 100%);
    height:100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.LoginContainer{
    border-radius: 30px;
    background: #190A25;
    width: 27vw;
    height: 15vw;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-bottom: 1%;
    align-self: center;
    display: flex;
    flex-direction: column;
}
p.TitleText{
    padding-top: 15%;
    text-align: center;
    font-size: 2vw;
    color: white;
    margin: 0px;
}
.EntryContainer{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
}
p.EntryText{
    font-size:1vw;
    color: white;
    width:5vw;
}
input.UserInput{
    width: 95%;
    height: 12%;
    flex-shrink: 0;
    border: 1px solid #FFF;
    background: transparent;
    color: white;
    font-size: 1em;  
}
button.LoginButton{
    border-radius: 30px;
    background: #FFF;
    width: 30%;
    height: 15%;
    min-width: 50px;
    font-size: 1vw;
    margin-top: 3%;
    text-align: center; 
    align-self: center;
}
a.OppositeText{
    align-self: center;
    width: 20vw;
    height: 1vh;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1vw;
    font-style: normal;
    font-weight: 500;
    margin: 1%;
}
p.loginError{
    color:white;
    font-size: 0.8em;
    text-align: center;
    margin:1%;
}