.nav_background {
    width: 100%;
    height: 80px; /* Adjust the height of the navbar */
    background-color: rgb(69, 158, 105);
    margin: 0;
  }
  th{
    text-align: left;
  }
  
  .nav_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .nav_image_container {
    width: 20%;
    height: 100%;
  }
  
  img.nav_logo_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-left: 20px;
  }
  
  ul.navbar_list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    width: 90%;
    margin-right: 20px;
  }

  li.navbar_list_items {
    padding-top: 15px; /* Adjust the padding for better vertical alignment */
    color: white;
    font-size: 1.5em;
    padding-right: 1vw;
    height: 100%; /* Set the height to 100% to fill the entire navbar */
    width: fit-content;
    text-align: center;
    gap: 10px;
  }
  
  .nav_link {
    color: #000000;
  }
  

  .nav_link:hover{
    color: #d4d4d4;
  } 